/* *SECOND-CONTRIBUTE */

.second-contribute {
  width: 100%;
  margin-top: 131px;
  padding: 0 56px;
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  align-items: center;
  justify-items: center;
}

/* *SECOND-CONTRIBUTE-CONTENT */

.second-contribute .second-contribute-content {
  width: 80%;
}
.second-contribute .second-contribute-content h1 {
  font-family: var(--font-roboto);
  font-weight: var(--fw-extraBold);
  font-size: clamp(30px, 4vw, var(--fsize-large48));
  margin-block: 24px;
}
.second-contribute .second-contribute-content p {
  font-family: var(--font-roboto);
  font-weight: var(--fw-regular);
  font-size: var(--fsize-small18);
  line-height: 26px;
}

/* *SECOND-CONTRIBUTE-BOX */

.second-contribute-box {
  width: clamp(319px, 100%, 484px);
  height: 412px;
  border-radius: 16px;
  border: 5px solid var(--color-black);
  background-color: var(--color-white);
  padding-inline: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  animation: myBox 4s linear infinite;
  user-select: none;
}
@keyframes myBox {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.second-contribute-box p {
  color: var(--color-black);
  font-family: var(--font-roboto);
  font-weight: var(--fw-medium);
  font-size: clamp(14px, 4vw, var(--fsize-small16));
}

.second-contribute-box .person-about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.second-contribute-box .person-about figure {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.second-contribute-box .person-about .person-about2 h2 {
  margin-bottom: 10px;
  color: var(--color-black);
  font-family: var(--font-roboto);
  font-weight: var(--fw-bold);
  font-size: clamp(18px, 4vw, var(--fsize-medium24));
}

.second-contribute-box .person-about .person-about2 p {
  color: var(--color-gray);
  font-family: var(--font-roboto);
  font-weight: var(--fw-thin);
  font-size: clamp(14px, 4vw, var(--fsize-small16));
  font-style: italic;
}

.second-contribute-box .rating {
  display: flex;
  width: 100%;
}

.second-contribute-box .rating .rating-box-1 {
  margin-right: 40px;
}

.second-contribute-box .rating p {
  color: var(--color-gray);
  font-family: var(--font-roboto);
  font-weight: var(--fw-medium);
  font-size: clamp(12px, 3vw, var(--fsize-small16));
  margin-bottom: 10px;
}

.second-contribute-box .rating h1 {
  color: var(--color-black);
  font-family: var(--font-roboto);
  font-weight: var(--fw-medium);
  font-size: clamp(18px, 4vw, var(--fsize-medium24));
}
.second-contribute-box a {
  background-color: var(--color-black);
  text-align: center;
  padding-block: 12px;
  color: var(--color-white);
  font-family: var(--font-roboto);
  font-weight: var(--fw-medium);
  font-size: clamp(18px, 3vw, var(--fsize-medium24));
  border-radius: 16px;
}
@media screen and (max-width: 1000px) {
  .second-contribute {
    grid-template-columns: 1fr;
    padding: 0 33px;
    gap: 3rem;
    margin-top: 100px;
  }
  .second-contribute .second-contribute-content {
    text-align: center;
    width: 100%;
  }
  .second-contribute .second-contribute-box {
    padding: 10px 10px;
    height: 350px;
    order: 1;
    border-width: 2px;
  }
  .second-contribute-box .person-about figure {
    margin-right: 10px;
    transform: scale(0.9);
  }
  .second-contribute-box .person-about .person-about2 h2 {
    margin-bottom: 5px;
  }
}
